{
  "printWidth": 80,             // Wrap lines at 80 characters
  "tabWidth": 2,                // Set tab width to 2 spaces
  // "useTabs": false,             // Use spaces instead of tabs
  // "semi": true,                 // Use semicolons at the end of statements
  // "singleQuote": true,          // Use single quotes instead of double quotes
  // //"trailingComma": "es5",       // Add trailing commas where valid in ES5 (objects, arrays, etc.)
  // "bracketSpacing": true,       // Add spaces inside braces
  // "arrowParens": "always",      // Include parentheses around a single arrow function parameter
  // "endOfLine": "lf"             // Use Unix-style line endings
}
